.menu-navbar{

    .ui.vertical.menu{
        height:105%;
        position: fixed;
        width: 20rem;
        padding-left: 1rem;
        padding-top: 2rem;

        background-color: #1f2d3a !important;
        .item{
            color: #ECEBE4 !important;
            line-height: 1.5em !important;
        }

        .item.active{
            background-color: #ECEBE4 !important;
            color: #1f2d3a !important;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 100%;
        }

        .header{
            font-style: oblique;
        }

        
    }
}
