.component-login {

    background-color: white !important;
    color: #18afcc;
    height: 100vh !important;
    margin: 0 !important;


    #header-main{
        margin-top: 5rem;
    }

    label{
    color: black !important;
    }


    Form{
        width:40%;
        margin:auto;
        padding-top: 3em;
    }

    form img{
        margin-top: 0px;
    }

    img{
        margin:auto;
        margin-bottom: 40px;
        margin-top: 10px;
        animation: App-logo-spin 0.5s linear;
        height: 40vmin;
    }

    button{
        float: right;
        margin-top: 25px !important;
    }

    button i{
        color: #1f2d3a;
    }

    @keyframes App-logo-spin {
        from {
        transform: rotate(300deg);
        }
        to {
        transform: rotate(360deg);
        }
    }

    .register-btn{
        clear:both;
    }
}